main{
    box-sizing: border-box;
}
.input-area{
    position: relative;
    width: 550px;
}
input{
    box-sizing: border-box;
    padding: 12px;
    padding-right: 100px;
    width: 100%;
    background: none;
    border:2px solid #80808067;
    outline: none;
    border-radius: 1000px;
    font-size: 1rem;
    caret-color: #005fe4;
}
.add-btn{
    position: absolute;
    top: 0;
    right: 0;
    height:100%;
    padding:0 30px;
    background-color: #005fe4;
    color: #fff;
    outline: none;
    border: none;
    border-radius:1000px;
}
ol{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 550px;
    gap: 1rem;
    padding: 10px;
}
ol li {
    border: #80808067 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
}
ol li input[type="checkbox"] {
    width: 20px; 
    height: 20px;
    cursor: pointer; 
    accent-color: orange; 
    border-radius: 50%;
    transition: 3ms;
}
ol li label{
    padding: 0 15px;
    width: 350px;
}
.text {
    flex: 1;
}
ol button{
    padding: 10px 20px;
    border:none;
    outline: none;
    border-radius: 20px;
    color: #fff;
}
.delete-btn{
    background-color: #ff0000bc;
    margin-left: auto;
}
input[type="checkbox"]:checked + label {
    text-decoration: line-through; 
    color: #808080; 
}
/* .up-btn, .down-btn{
    background-color: #005fe4;
} */
 @media only screen and (max-width: 600px) {
    .input-area{
        position: relative;
        width: 385px;
        margin: 15px 15px;
    }
    input{
        padding: 18px;
        font-size: 1.3rem;
    }
    ol li label{
        padding: 0 15px;
        width: 200px;
    }
}